.chatwindow{
    width: 80vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    .topwindow{
        background-color: #4d0180;
        padding: 10px;
    .profnav{
        display: flex;
        align-items: center;
        color: white;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        h2{
            margin: 10px;
        }
    }
}
.midconvo{
    overflow-y: auto;
}
.bottomconvo{
position:sticky;
bottom: 0px;
width: 80vw;
height: 80px;
background-color: #4d0180;
position: absolute;
bottom: 0px;
.sendmsg{
 display: flex;
 align-items: center;
 margin: 20px;
 .sendtext{
     border-radius: 10px;
     border: none;
     outline: none;
     padding: 10px;
 }
 .msgsendbtn{
    all: unset;
    font-size:20px;
    margin: 10px;
    color: gray;
    cursor: pointer;

 }
}
}

}
