.auth{
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/back-school-doodle-sketch-cartoon-seamless-pattern_221062-914.jpg?w=996");
    display: flex;
    align-items: center;
    justify-content: center;
}