.aboutmebox{
    // -webkit-box-shadow: 10px 3px 8px 5px rgba(0,0,0,0.41); 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#4d0180;
    color: white;
    width: 20vw;
    margin: 13px;
    border-radius: 15px;
    position:sticky;
    top: 89px;
    height: 600px;
    .profile{
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
         
        h2{
            margin-top: 8px;
            font-weight: 100;
        }
        img{
            height: 100px;
            border-radius: 50%;
        }
    
    }
    .com{
        margin: 7px;
        h3{
            margin-top: 15px;
            font-weight: bold;
        }
        .showmore{
            display: flex;
            align-items: center;
            margin: 8px;
        }
    }
}