.comprof{
    .container{
        :hover{
            transform: scale(1.1)  ;
        }
    }
    .profimg{
        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }
    }
    .profname{
        span{
            font-weight: 400;
            align-items: center;
        }
    }
}