.section2
{
    width: 1150px;
    height: 550px;
    border-style: solid;
    margin-left: 50px;
    border-radius: 20px;
    border-color:#4d0180; 
    
    


.opassword{
    input{
        width: 300px;
        height: 25px;
        border-radius: 13px;
        padding-left: 12px;
      }

      display: flex;
    // justify-content: center;
    flex-direction: row;
    align-items: left;
    font-size: 30px;
    padding: 20px;
    gap: 89px;
    margin-left: 50px;
}
    

.cpassword{
    input{
            width: 300px;
            height: 25px;
            border-radius: 13px;
            padding-left: 12px;
          }
    
   
          display: flex;
          // justify-content: center;
          flex-direction: row;
          align-items: left;
          font-size: 30px;
          padding: 20px;
          gap: 30px;
          margin-left: 50px;
      }

        

.npassword{
     input{
                width: 300px;
                height: 25px;
                border-radius: 13px;
                padding-left: 12px;
              }
              display: flex;
    // justify-content: center;
    flex-direction: row;
    align-items: left;
    font-size: 30px;
    padding: 20px;
    gap: 75px;
    margin-left: 50px;
}
            
        
    

   

.button3{
            margin-top: 200px;
            margin-left: 700px;

}

    button{
        box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
        -webkit-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
        -moz-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
        background-color:#4d0180;
        background-image: linear-gradient(to right, rgba(156, 62, 219, 0), rgb(174, 0, 255));
        padding: 10px;
        color: white;
        width: 350px;
        font-size: 25px;
        border-radius: 30px;
        margin: 20px;
        border: none;
        &:hover{
            background-image: linear-gradient(to right, rgb(73, 0, 107),rgba(150, 35, 226, 0));
         }
        }
    }