.button{
    .tab{
        cursor: pointer;
         background-color:#4d0180;
        width: 80px;
        height: 40px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 10px;
        background-image: linear-gradient(to right, rgba(114, 13, 139, 0), rgb(77, 5, 83));
        &:hover{
            background-image: linear-gradient(to left, rgba(45, 10, 54, 0), rgb(30, 18, 31));
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}