.messegbox{
    background-color:#420869;
    position: absolute;
    overflow: auto;
    right: 5px;  
    height: 360px;
    box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -webkit-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -moz-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    padding: 18px;  
    border-radius: 10px;
    .chathead{
        position:absolute;
        top: 0px;
    }

    
}