.messegbox{
    background-color:black;
    position: absolute;
    overflow: auto;
    right: 5px;  
    height: 360px;
    box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -webkit-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -moz-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    padding: 18px;  
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(114, 13, 139, 0), rgb(77, 5, 83));
        &:hover{
            background-image: linear-gradient(to left, rgba(45, 10, 54, 0), rgb(30, 18, 31));
        }
    
}