
.post{
<<<<<<< HEAD
<<<<<<< HEAD
    // background-color: white;
=======
    margin-top:30px;
>>>>>>> 44547146112370f98921064d2c7629a3d474a06d
=======
    margin-top:30px;
>>>>>>> 64c5f521253e839012b4cc7fa99ba6868487d8c1
    position: relative;
    color: black;
    // background-color: RED;
    // border: 2px solid #4d0180 ;
    box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -webkit-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    -moz-box-shadow: 4px 8px 12px -2px rgba(73,71,71,0.75);
    // box-shadow: -8px -5px 20px -5px rgba(0,0,0,0.75);
    // -webkit-box-shadow: -8px -5px 20px -5px rgba(0,0,0,0.75);
    // -moz-box-shadow: -8px -5px 20px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-left: 73px;  
    width: 700px;
    .wrap{
    .avtar{ 
        display: flex;
        // justify-content: center;
        margin: 10px;
        align-items: center;
        color: black;
        
        span{
            margin-left: 13px;
            
            b{
                color: black;
                margin-left: -9px;
            }
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: black;
            // margin-top: 5px;
        }
    }
    .midpost{
        display: flex;
        margin: 10px;
        padding: 5px;
        color: black;

        .details{
            margin-left: 30px;
            color: black;
        }
    }
    .symbols{
        display: flex;
        position: absolute;
        right: 14px;
        cursor: pointer;
        .posticons{
            margin: 2px;
            &.sendicon{
                position: relative;
                .sendbox{
                    position:absolute;
                    right: -20px;
                }
            }
        }
        
}
    }
    .cmntsec{
        margin-top:50px;
    }
    
}