*{
    padding: 0;;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    // color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    // background-color: rgb(228, 226, 226);
=======
    // background-color: rgb(238, 234, 234);
>>>>>>> 44547146112370f98921064d2c7629a3d474a06d
=======
    // background-color: rgb(238, 234, 234);
>>>>>>> 64c5f521253e839012b4cc7fa99ba6868487d8c1
}